<html>

<head>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
</head>

<body>

	<div id="top_box">
		<td>
			<%= image_tag("logo.jpg", class: 'logo') %>
		</td>
	</div>

	<div id="pad">
		<ul id="nav_bar">
			<li class="button" id="home"><span>Home</span></li>
    		<li class="button" id="about"><span>About Us</span></li>
    		<li class="button" id="events"><span>Events</span></li>
    		<li class="button" id="contact"><span>Contact Us</span></li>
    		<li class="button" id="mailing_list"><span>Mailing List</span></li>
		</ul>
	</div>

	<div id="info_box">
	</div>

</body>
</html>