
html,body {
	background-color: #818181;
	height: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

#top_bar {
    z-index: 2;
    position: fixed;
    height:6%;
    width: 100%;
    background-color: #231f20;
}

#social_links {
    list-style-type: none;
    position: absolute;
    display: inline-block;
    top: -25%;
    right: .5%;
}

.social_link {
    text-decoration: none;
    display: inline-block;
}

#top_box {
	position: relative;
	background-color: #ffffff;
	height: 30%;
	width: inherit;
	padding: 0;
	margin: 0;
}

.logo {
	position: relative;
    display: block;
	height: 54%;
	width: 29%;
	left: 0%;
    top: 46%;
}

#pad {
	height: 100%;
	width: 100%;
}

#nav_bar {
	position: absolute;
	display: block;
    background: #ed1b24;
    /*background-image: -webkit-linear-gradient(top, #b61616, #e62e2e);
    background-image: -moz-linear-gradient(top, #b61616, #e62e2e);
    background-image: -ms-linear-gradient(top, #b61616, #e62e2e);
    background-image: -o-linear-gradient(top, #b61616, #e62e2e);
    background-image: linear-gradient(to bottom, #b61616, #e62e2e);*/
    right: 0;
    width: 71%;
    padding: 0;
    margin: 0;
    height: 4%;
    top: 26%;
}

.button {
	cursor: pointer;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 15%;
    float: left;
    padding: 0;
    margin: 0;
}

.button:hover, .selected:hover {
	background: #e62e2e;
    background-image: -webkit-linear-gradient(top, #e62e2e, #b61616);
    background-image: -moz-linear-gradient(top, #e62e2e, #b61616);
    background-image: -ms-linear-gradient(top, #e62e2e, #b61616);
    background-image: -o-linear-gradient(top, #e62e2e, #b61616);
    background-image: linear-gradient(to bottom, #e62e2e, #b61616);
    border-radius: 6px 6px 0 0;
    text-decoration: none;

}

.selected {
	cursor: pointer;
    display: inline-block;
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    padding: 0;
    margin: 0;
	background: #818181;
    border-radius: 6px 6px 0 0;
   /* background-image: -webkit-linear-gradient(top, #DB4D4D, #E99494);
    background-image: -moz-linear-gradient(top, #DB4D4D, #E99494);
    background-image: -ms-linear-gradient(top, #DB4D4D, #E99494);
    background-image: -o-linear-gradient(top, #DB4D4D, #E99494);
    background-image: linear-gradient(to bottom, #DB4D4D, #E99494); */
}

span {
	cursor: pointer;
    position: absolute;
    text-align: center;
    top: 50%;
    height: 12px;
    width:100%;
    margin-top: -8px;
    font: bold 12px Arial,sans-serif;
    color: #EBEBEB;
}

#info_box {
	position: absolute;
	background-color: #bbbbbb;
	height: 66%;
	width: 94%;
	top: 32%;
	left: 1%;
	border-radius: 6px;
    padding-left: 2%;
    padding-right: 2%;
}

#email-i {
    display: block;
    position: absolute;
    vertical-align: middle;
    height: 30%;
    width: 20%;
    left: 45%;
    top: 5%;
}


	


